/* Стилизация кнопки */
.btn {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 30px 14px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer; 
}


.btn_primary {
    color: var(--white);
    background: #4263EB;
    border: none;
}

.btn_primary:hover {
    background: #2342C0;
    color: var(--white);
}


.btn_secondary {
    color: var(--white);
    background: var(--purple);
    border: none;
}
.btn_secondary:hover {
    background: #5028C6;
}


.btn_alternate {
    color: #495057;
    box-sizing: border-box;
    border: 1px solid #ACB5BD;
}

.btn_alternate:hover {
    border: 1px solid #212429;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}