/* Стилизация аккордеона */
.accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accordion__item {
    width: 730px;
    border-radius: 8px;
    border: 1px solid #ACB5BD;
    padding: 24px 0px 24px 32px;
}

.accordion__item:open {
    gap: 16px;
    padding: 24px 0px 16px 32px;
}


.accordion__title {
    font-family: Inter, sans-serif;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}


.accordion__content {
    font-family: Inter, sans-serif;
    padding: 0px 48px 0px 0px;
    color: #495057;
}

