.histogram {
    display: block;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 24px;
}

.histogram__title {
    font-family: Inter, sans-serif;
    color: var(--grey-3);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 0;
}

.histogram__link {
    color: #4263EB;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: right;
    margin-bottom: 3px;
}


.histogram__number {
    color: var(--black);
    font-size: 20px;
    justify-content: flex-start;
    line-height: 26px;
    margin-bottom: 39px;
}

.histogram__poles {
    justify-content: stretch;
    align-items: flex-end;
    display: flex;
    height: 50px;
    gap: 1px;
}

.histogram__pole {
    background: #374FC7;
    flex: 1 0 auto;
}
